
<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <h3>Vehicle Details</h3>
      <form #imageForm=ngForm (ngSubmit)="onPostCreateUser(imageForm)">
        <div class="form-group" >
          <label>Car Make</label> 
          <input type="text" class="form-control" name="cmake" ngModel>
        </div>
        <div class="form-group">
          <label>Car Model</label> 
          <input type="text"  class="form-control" name="cmodel" ngModel>
        </div>
        <div class="form-group">
          <label>Ex-Showroom Price</label> 
          <input type="number" class="form-control" name="exprice"ngModel>
        </div>
        <div class="form-group">
          <label>On Road Price</label> 
          <input type="number"  class="form-control" name="onrprice" ngModel>
        </div>
      </form> 
      </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <h3>Applicant Details</h3>
      <form #imageForm=ngForm (ngSubmit)="onPostCreateUser(imageForm)">
        <div class="form-group">
          <label>Name</label> 
          <input type="text"  class="form-control" name="uname" ngModel>
        </div>
        <div class="form-group">
          <label>Age</label> 
          <input type="number"  class="form-control" name="age" ngModel>
        </div>
        <div class="form-group">
          <label>Gender</label> 
          <input type="text"  class="form-control" name="gender" ngModel>
        </div>
        <div class="form-group">
          <label>Type of Employement</label> 
          <input type="text"  class="form-control" name="typeemp" ngModel>
        </div>
        <div class="form-group">
          <label>Yearly Salary</label> 
          <input type="number"  class="form-control" name="salary" ngModel >
        </div>
        <div class="form-group">
          <label>Existing EMI</label> 
          <input type="number" class="form-control" name="existemi" ngModel>
        </div>
      </form> 
      </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <h3>ContactDetails</h3>
      <form #imageForm=ngForm (ngSubmit)="onPostCreateUser(imageForm)" >
        <div class="form-group">
          <label>Mobile No.</label> 
          <input type="number" name="name" class="form-control" name="mobno" ngModel>
        </div>
        <div class="form-group">
          <label>Email ID</label> 
          <input type="text" name="address" class="form-control" name="email" ngModel>
        </div>
        
      </form> 
      </div>
  </div>
</div>
<div>
  <button type="button" class="btn-info btn-lg" routerLink="/loanoffer"><i arial-hidden="true"></i> Check ELigibility</button>
</div>