<div>
  <form #ImageForm="ngForm" >
  <div class="row">
  <div class="col-lg-5" style="padding-left: 100px;padding-top: 50px;">
    <form action=""></form>
    <div class="container">
      <h3>Vehicle Details</h3>
        <div class="form-group" >
          <label>Car Make</label> 
          <input type="text" class="form-control" name="name" [(ngModel)]="vehiclehtml.vname">
        </div>
        <div class="form-group">
          <label>Car Model</label> 
          <input type="text"  class="form-control" name="vmodel" [(ngModel)]="vehiclehtml.vmodel">
        </div>
        <div class="form-group">
          <label>Ex-Showroom Price</label> 
          <input type="number" class="form-control" name="showroomprice"[(ngModel)]="vehiclehtml.showroomprice">
        </div>
        <div class="form-group">
          <label>On Road Price</label> 
          <input type="number"  class="form-control" name="onroadprice" [(ngModel)]="vehiclehtml.onroadprice">
        </div>
    
      </div>
  </div>
</div>
<br>
<div class="row" style="padding-left: 100px">
  <div class="col-lg-5">
    <div class="container">
      <h3>Applicant Details</h3>
     
        
        <div class="form-group">
          <label>Type of Employement</label> 
          <input type="text"  class="form-control" name="employmenttype" [(ngModel)]="vehiclehtml.employmenttypes">
        </div>
        <div class="form-group">
          <label>Yearly Salary</label> 
          <input type="number"  class="form-control" name="salary" [(ngModel)]="vehiclehtml.annualsalary" >
        </div>

        <div class="form-group">
         
          <br>
          <div class="form-group">
            <label>Existing EMI</label> 
            <input type="text" class="form-control" name="existemi" [(ngModel)]="vehiclehtml.existingemi">
          </div>
          

        </div>
        <br>
        
        
      
      </div>
  </div>
</div>




</form>
<div>

</div>
<div style="padding-left: 500px;padding-bottom: 20px;">
  <button type="button" class="btn-info btn-lg"  (click)="Eligibility($event)" ><i arial-hidden="true"></i> Check ELigibility</button>

</div>
</div>