
<div class="jumbotron">
  <div class="col-lg" >
    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3" ><i class="fas fa-store" arial-hidden="true" style="color: blue; padding-bottom: 20px;">Vehicle Loan System</i></span>
      
    </h1>
  </div>
  
  <div class="container">  
   <div class="col-lg">
     <h1 class="site-heading text-center text-white d-none d-lg-block">
        <div class="btn-group">
          <button type="button" class="btn1" routerLink="/login"><i class="fas fa-home" arial-hidden="true" style="padding-right: 10px;"></i>Login</button>
          <button type="button" class="btn2" routerLink="/aboutus" ><i class="fas fa-pen-square" arial-hidden="true" style="padding-right: 10px;"></i> About Us</button>
          <button type="button" class="btn3" routerLink="/emi" ><i class="fas fa-chart-line" arial-hidden="true" style="padding-right: 10px;"></i> EMI Calculator</button>
          <button type="button" class="btn4" routerLink="/loanapply"><i class="fas fa-users" arial-hidden="true" style="padding-right: 10px;"></i>Loan Apply</button>
          
        </div>
      </h1> 
    </div>
  </div>
</div>

<router-outlet></router-outlet>
