<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<div class="row">
    <div class="col-lg-6">
        <div class="container">
            <h3>Approved Loan</h3>
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Vechile_type</th>
                        <th scope="col">Price</th>
                        <th scope="col">Rate</th>
                        <th scope="col">Emi</th>
                        <th scope="col">To pay</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of auser">

                        <td>{{p.mob_no}}</td>
                        <td>{{p.u_name}}</td>
                        <td>{{p.age}}</td>
                        <td>{{p.city}}</td>
                        
                            <td>asssk</td>
                        
                        <td>hello</td>
                        <td>kolo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br><br>
    <br>
    <div>
        <div class="col-lg-6">
            <div class="container">
                <h3>Pending Approval</h3>
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Vechile </th>
                            <th scope="col">Price</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Eligible</th>
                        </tr>
                        <tr *ngFor="let p of puser">
                            <td>{{p.mob_no}}</td>
                            <td>{{p.u_name}}</td>
                            <td>{{p.age}}</td>
                            <td>{{p.city}}</td>
                            <td>hello</td>
                            <td>hello</td>
                            <td>kolo</td>

                            <button (click)="content='Application Approved'">Approve</button>

                            <button (click)="content='Application Rejected'">Reject</button>
                        </tr>
                        <div>
                            <h1>{{content}}</h1>
                        </div>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of data ">
                            <td>{{s.id}}</td>
                            <td>{{s.namen}}</td>
                            <td>{{s.category}}</td>
                            <td>{{s.price}}</td>
                            <td>{{s.units}}</td>
                            <td>{{s.company}}</td>

                        </tr>
                        <br>
                        <br>
                        <br>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    <br>
    <!--TABLE 2-->
    <div>
        <div class="col-lg-6">
            <div class="container">
                <h3>Update Application</h3>
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Vechile </th>
                            <th scope="col">Price</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Operations</th>
                        </tr>
                        <tr>
                            <td><input type="text" name="id" id="id" /></td>
                            <td><input type="text" name="name" /></td>
                            <td><input type="text" name="vehicle" /></td>
                            <td><input type="text" name="price" /></td>
                            <td><input type="text" name="rate" /></td>

                            <button (click)="content2='Application Updated'">Update</button>

                            <button (click)="content2='Application Deleted'">Delete</button>
                        </tr>
                        <div>
                            <h1>{{content2}}</h1>
                        </div>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of data">
                            <td>{{s.id}}</td>
                            <td>{{s.namen}}</td>
                            <td>{{s.category}}</td>
                            <td>{{s.price}}</td>
                            <td>{{s.units}}</td>
                            <td>{{s.company}}</td>

                        </tr>
                        <br>
                        <br>
                        <br>


                    </tbody>
                </table>
            </div>
        </div>
    </div>