<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <h3>Vehicle Details</h3>
      <form #imageForm=ngForm (ngSubmit)="OnSubmit()">
        <div class="form-group">
          <label>Car Make</label> 
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label>Car Model</label> 
          <input type="text" name="address" class="form-control" >
        </div>
        <div class="form-group">
          <label>Ex-Showroom Price</label> 
          <input type="number" name="phone" class="form-control" >
        </div>
        <button type="submit" class="btn-info btn-lg" routerLink="/loandetails"><i arial-hidden="true"></i> Submit</button>
      </form> 
      </div>
  </div>
</div>
