<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <h3>Your Loan Quotes</h3>
      <h3>New Car Loan(Product Type)</h3>
      <h3>Loan Amount</h3>
      <h3>BEST RATE</h3>
      <h3>EMI</h3>
      <h3>Processing fee</h3>
      <h3>A/C Type</h3>
    </div>
  </div>
</div>
<div>
  <button type="button" class="btn-info btn-lg" routerLink="/applynow"><i arial-hidden="true"></i> Apply Now</button>
  <button type="button" class="btn-info btn-lg" routerLink="/scheduler"><i arial-hidden="true"></i> EMI Scheduler</button>
</div>
