<div class="row">
  <div class="col-lg-5">
    <div class="container">
      <h3>Your Loan Quotes</h3>
      <!-- <h3>New Car Loan </h3> -->
      <h3>Loan Amount :  {{loanamount}}</h3>
      <h3>BEST RATE : 7 %</h3>
      <h3>TENURE MONTHS :  {{tenuremonths}}</h3>
      <h3>EMI : {{emi}}</h3>
      <h3>Processing fee : 2159.10</h3>
      <h3>A/C Type : {{AccSalary}}</h3>
    </div>
  </div>
</div>
<div>
  <button type="button" class="btn-info btn-lg" routerLink="/applynow"><i arial-hidden="true"></i> Apply Now</button>
  
</div>
